.background-section {
    background-position: 50% 50%;
    background-size: cover;
    @include breakpoint(large) {
        background-attachment: fixed;
    }

    img {
        display: none;
    }
}
