.full-screen-widget {
    position: relative;
    width: 100%;
    // min-height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100vh;

    @include breakpoint(small){
    height: 33.33vh;
        @media (orientation:landscape) {
            height: 50vh;
        }

    }

    &__half {
        min-height: inherit;
        width: 50%;
    }

    h3 {
      text-transform: capitalize;
      text-transform: capitalize;
      font-size: 1.5rem;
      letter-spacing: .3em;
      cursor: pointer;
      z-index: 4000;
      color: #fff;
      display: inline-block;
      max-width: 50vw;
      padding: 30px;

      @include breakpoint(small) {
          font-size: rem(16);
          letter-spacing: .3em;
      }

      &:hover {
        color: #000;
        transition: .5s;
      }
    }
    &.full-screen-widget--video {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 100;
        }

        &.hidden {
            video {
                z-index: -10;
            }
        }

        video {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 100vh;
            transform: translateY(-50%) translateX(-50%);
            position: absolute;
            @include breakpoint(large) {
                position: fixed;
            }
        }
    }
}
&.fluid-width-video-wrapper {
  width: 100%;
  height: 100%;

  .video-gif {
    width: 100%;
    height: 100%;
    display: none;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
  }

  .video-gif-arsenal {
    background-image: url("../images/PUMAxARSENAL.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .video-gif-sheyk {
    background-image: url("../images/IRINA_SHAYKxDZ.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 15%;
  }


}
