.header-nav {
    margin-top: 10px;
    text-align: center;
    letter-spacing: rem(3.8);

    &__item {
        margin-left: 20px;
        display: inline-block;

        a {
            padding: 5px;
            font-size: rem(10);
            font-family: $base-font-family;
        }

        &:first-child {
            margin-left: 0;
        }

        &--active > a, a:hover {

        }
    }

    @include breakpoint(small) {
        margin-top: 4px;

        &__item {
            margin-left: 5px;

            a {
                font-size: rem(9);
            }
        }
    }


    @include breakpoint(extra-small) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: flex;
        margin-top: 0;
        background-color: #fff;
        transform: translateY(-100%);
        transition-property: transform;
        transition-duration: 0.3s;

        &.header-nav--open {
            transform: translateY(0);
        }

        ul {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }

        &__item {
            display: block;
            margin-left: 0;
            margin-top: 40px;

            &:first-child {
                margin-top: 0;
            }

            a {
                font-size: rem(18);
            }
        }
    }


    @media (max-width: 768px) and (max-height: 500px) {
        padding-top: 30px;

        &__item {
            margin-top: 5px;

            a {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
