.info {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    background-color: #FFF;
    text-align: center;

    h2 {
      font-size: 2em;
      padding-bottom: 30px;
    }

    h3 {
      font-size: 1.5em;
    }

    &__divider {
      border-bottom: 1px solid $dark-gray;
      padding: 60px 30px;
    }

    &__divider:first-child {
      border-top: 1px solid $dark-gray;
    }
    .info__divider ul {
      column-count: 3;
      @include breakpoint(small) {
          column-count: 1;
      }
    }

    a {
        text-decoration: underline;
    }

    & :last-child {
        margin-bottom: 0;
    }

    .tabs__content {
        div {
            margin-bottom: 44px;

            & :last-child {
                margin-bottom: 0;
            }
        }
    }

    address {
        font-style: normal;
    }

    address, p {
        margin-bottom: 20px;
    }

    @include breakpoint(small) {
        // margin-top: 0;
    }


    @include breakpoint(mobile) {
        padding-left: 15px;
        padding-right: 15px;

        // /font-size: rem(7);
    }
}
