.slider-page {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding-top: 90px;
        padding-bottom: 46px;
    }

    footer {
        margin-top: -46px;
    }
}