.tabs {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {

    }

    li {
        display: inline-block;
        margin: 10px 10px;
    }

    .info-tab__item {
        text-transform: uppercase;
        letter-spacing: 2px;
        background: none;
        border: none;

        &:hover {
          border-bottom: 1px solid #000;
          transition: .5s;
        }

        &--active {
          border-bottom: 1px solid #000;
          transition: .5s;
        }
    }

    @include breakpoint(extra-small) {
        a {
            font-size: rem(8);
        }
    }


    @include breakpoint(mobile-landscape) {
        li {
            margin-left: 6px;

            &:before {
                padding-right: 6px;
            }
        }
    }
}

.tabs__content {
    display: none;

    &.tabs__content--active {
        display: block;
    }
}
