.video-widget {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;

    video {
        position: absolute;
        top: 50%;
        max-width: 100%;
        transform: translateY(-50%);
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.6s;

        &:hover {
            opacity: 1;
        }

        h2 {
            width: 100%;
            margin-bottom: 0;
            font-family: 'AvenirLTStd-MediumOblique';
            text-align: center;
            font-size: rem(18);
            color: #fff;
        }
    }

    @include breakpoint(small) {
        margin-bottom: 35px;

        &__overlay {
            top: 0;
            bottom: -30px;
            align-items: flex-end;
            opacity: 1;
            background-color: transparent;

            h2 {
                font-size: rem(10);
                text-transform: none;
                color: #000;
            }

            br {
                display: none;
            }
        }
    }
}