html {
    overflow-x: hidden;
    height: 100%;
}

body {
    //height: 100%;
    padding-top: 48px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    main, footer {
        width: 100%;
    }
    .inner {
      padding-top: 30px;
    }
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 100vh;

    &.home {
        padding-top: 0;
    }

    @include breakpoint(extra-small) {
        padding-top: 51px;
    }


    @include breakpoint(mobile-landscape-small) {
        padding-top: 51px;
    }

    button {
        outline: none;
    }
    &.loader{
        width: 100%;
        background: white;
        text-align: center;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

}
