@font-face {
	font-family: 'Moderat';
	src: url('../fonts/Moderat-Bold.eot');
	src: url('../fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Moderat-Bold.woff') format('woff'),
		url('../fonts/Moderat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
